
body{font-family: 'Open Sans', sans-serif;
    margin: 0;
    background: #8ebce4;
    height: 1300px;}
*{margin: 0;
box-sizing: border-box;
}

header{}
.container1{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: auto;
        background: #73b6f1;
        padding: 15px 0px;
        padding-left: 89px;
        /* width: 1200px; */
        }

.container1 .box1{
    width: 20%;
    flex: 0 0 auto;
    text-transform: uppercase;
}
.container1 .box1 h1{font-size: 37px;}

.container1 .box2{
        width: 80%;
        flex: 0 0 auto;
        padding-left: 67px;
        border-radius: 8px;
}
.container1 .box2 ul{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}
.container1 .box2 ul li{list-style: none;}
.container1 .box2 ul li a{
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    padding: 25px 32px;
    display: block;
}


.container2{background: #d4fbfb;width: 1200px;margin: auto;border-radius: 51px;}
.container2 .box3{
    text-align: center;
    margin-top: 123px;
}
.container2 .box3 h3{}
.container2 .box3 h1{
    font-size: 43px;
}


.container2 .box4{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 89px;
}
.banner{
       width: 33.33%;
       padding: 10px;
       padding-left: 16px;
       padding-top: 50px;
}
.banner a{
    width: 100%;
}
.banner a img{
            max-width: 100%;
            width: 365px;
            height: 238px;
            border-radius: 27px;
            box-shadow: 5px 5px 5px #f3e998;
}
.banner h1{
       padding-top: 23px;
       padding-left: 57px;
       text-transform: capitalize;
}


footer{display: flex;flex-wrap: wrap;margin-top: 100px;margin-bottom: -34px;/* margin: 0; */}
.container3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    width: 100%;
    background: aliceblue;
    padding: 33px 56px;
    font-size: 15px;
    margin-top: 174px;
}

.container3 .terms{width: 50%;
    flex: 0 0 auto;}
.container3 .terms ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.container3 .terms ul li{list-style: none;}
.container3 .terms ul li a{
    text-decoration: none;
    color: black;
    padding-right: 10px;
}

.container3 .social-link{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.container3 .social-link ul{
    display: flex;
    flex-wrap: wrap;
    padding-right: 142px;
}
.container3 .social-link ul li{
    list-style: none;
    align-items: center;
    padding-right: 14px;
    text-transform: uppercase;
}
.container3 .social-link ul li a{}











